<div class="query">
  <span class="query-head">Find <strong>{{modelName}}</strong></span> <i class="fa fa-angle-right"></i>
  {{#each q in queryArray}}
    {{render "query-item" q}}
  {{/each}}
</div>

<hr />
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <button class="btn btn-success btn-sm" {{action "addQuery" "where"}}>Add &quot;Where&quot;</button>
    </div>
  </div>
</div>
