<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      {{input class="form-control" value=key placeholder="Filter key"}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      {{input class="form-control" value=filterValue placeholder="Filter Value"}}
    </div>
  </div>
</div>

<button class="btn btn-success btn-sm btn-block" {{action "submitFilter"}}>Filter</button>
