<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4 text-right">
    <h4>Something wrong?</h4>
    <a href="#" {{action "bugReport"}}><i class="fa fa-fw fa-bug"></i> Report a bug</a>
  </div>
</div>

<p class="copyright">
  &copy; {{year}} Associated Employers Trust
</p>
