/*
  Bootstrap Utility Styles
*/

/* Buttons */
.btn {
  &.btn-block {
    &.btn-restrict-width {
      margin: 0 15%;
      width: 70%;
    }
  }

  &.btn-pad {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

/* Rows & Columns */
.row {
  &.row-draw-sep .draw-sep {
    border-left: 1px solid @gray-lighter;
  }

  &.contract {
    overflow: hidden;
    max-height: 102px;
  }
}

/* Tables */

table.table {
  &.text-center {
    tr, th, td {
      text-align: center; 
      vertical-align: middle;
    }
  }

  &.legend-text-right {
    tbody tr th {
      text-align: right;
    }
  }

  tr {
    &.disabled-strike {
      text-decoration: line-through;
    }
  }
}

/* Alerts */

.alert-pad {
  margin: 5px;
}

/* Forms */

.form-control, .form-group {
  textarea& {
    resize: vertical;
  }

  &.valid {
    .form-control, &.form-control {
      border-color: @brand-success !important;
    }
  }

  &.hasError {
    .form-control, &.form-control {
      border-color: @brand-danger !important;
      color: @brand-danger;
      background-color: lighten(@brand-danger, 40%);
    }
  }
}

/* Labels */

.label {
  font-size: 68%;
}
