/*
  Bootstrap Utility Styles
*/


/* Buttons */
.btn {
  &.btn-block {
    &.btn-restrict-width {
      margin: 0 15%;
      width: 70%;
    }
  }

  &.btn-pad {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

/* Rows & Columns */
.row {
  &.row-draw-sep .draw-sep {
    border-left: 1px solid @gray-lighter;
  }
}
