/*
  Index Styles
*/

.index-view {
  min-height: 650px;
  margin: -10px -2.1% -20px -2.1%;
  padding: 10px 2%;

  background: url('images/index-splash-cover.jpg') top center;
  background-size: cover;
  background-blend-mode: multiply;

  .link-section {
    padding: 20px;
    font-size: 120%;
    overflow: hidden;
    border: 1px solid fade(@brand-primary, 10%);
    background: rgba(255, 255, 255, 0.3);

    &:hover {

      .slide-description {
        padding-top: 20px;
        opacity: 100;
        max-height: 300px;
        visibility: visible;
      }
    }

    a {

      &:hover {
        color: @brand-default;
      }

      i.link-icon {
        width: 100%;
      }

      h3 {
        position: relative;
        text-align: center;
        z-index: 20;

        span.label.count-label {
          text-decoration: none;
          position: absolute;
          top: -100%;
          right: 38%;
          font-size: 50%;
          z-index: 1;
        }
      }
    }

    .slide-description {
      opacity: 0;
      max-height: 0;
      visibility: hidden;
      color: @brand-default;

      .transition-all();

      h4 {
        font-size: 100%;
      }

      p {
        font-size: 60%;
      }
    }
  }
}
