/*
  Resource Lists Styles
*/

.resource-list-group {
  margin: 0 20px;
  position: relative;
}

.resource-view {
  margin: 0 0 10px 0;
  padding: 0 5px;

  .row.resource-row {
    margin: 0 !important;
  }
}

.resource-list-item {

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.025);
  }

  .data-section {
    display: inline-block;
    float: right;
  }

  .mute {
    color: darken(@brand-offwhite, 15%);
    font-size: 85%;
    vertical-align: middle;
  }
}

.pagination-wrapper {
  text-align: right;
  padding-right: 20px;

  &.center-wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .pagination {
    margin: 5px 0 0 0;
    vertical-align: middle;
  }

  a.jump-to-page {
    font-size: 80%;
    color: @brand-primary;
    font-weight: 100;
    vertical-align: middle;
    padding-top: 5px;
  }
}

.items-per-page {
  font-size: 80%;
  padding: 4px;

  span.page-out-of {
    padding-right: 10px;
    color: @text-muted;
  }

  span.help-label {
    position: relative;
    padding-right: 5px;
  }

  a {
    text-decoration: none;
  }

  span.items-per-page-option {
  
    &:after {
      content: ' | ';
    }

    &:last-child:after {
      content: '';
    }

    a {
      
      &.selected {
        color: @brand-warning;
      }
    }
  }
}

.resource-loading-overlay {
  opacity: 0;
  max-height: 0;
  .transition-all();

  &.active {
    opacity: 1;
    max-height: 100px;
  }

  h2 {
    margin: 0;
  }
}
