/*
  Resource Page Styles
*/

.resource-section {
  padding: 10px;
}

.resource-info-list {
  .reset-ul();
}

.resource-quick-info {
    li {
      display: inline-block;
      font-size: 85%;

      &:after {
        content: ' | ';
      }

      &:last-child:after {
        content: '';
      }
    }
}

.resource-system-info {
  li {
    font-size: 85%;
  }
}

.reset-ul() {
  list-style: none;
  padding: 0;
}

.resource-header-controls {
  margin-top: @line-height-computed;
  margin-bottom: (@line-height-computed / 2);
  padding: 0 20px;
}

.resource-controls {
  text-align: right;

  .dropdown {
    display: inline-block;
  }
}
