<ul class="list-group">
  {{#each dependent in content.dependents itemController='dependent-item'}}
    <li class="list-group-item">
      {{#link-to 'dependent' dependent.id}}{{dependent.fullName}}{{/link-to}}

      <span class="pull-right text-muted">
        {{dependent.contextualRelationship}}
      </span>
    </li>
  {{/each}}
</ul>
