<ul class="list-group">
  {{#each model.contactMethods as |contact|}}
    {{lists/contact-method contact=contact}}
  {{else}}
    <div class="alert alert-info alert-dismissible alert-pad" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
      <i class="fa fa-fw fa-info-circle"></i> No Contact Methods Found.
    </div>
  {{/each}}
</ul>
