<div class="application-wrapper">
  <div class="nav-wrapper">
    {{render "navigation"}}
  </div>

  <div {{bind-attr class=":view-wrapper viewClass"}}>
    {{outlet}}
  </div>
</div>

{{render "footer"}}
