{{#link-to 'employee' content}}{{content.fullName}}{{/link-to}}

{{#if content.beneficiaries}}<a href="#" {{action "toggleProperty" "showBene"}}><span class="label label-primary">Has Beneficiaries</span></a>{{/if}}

{{#if showBene}}
  {{#each b in content.beneficiaries}}
    {{b.id}}
  {{/each}}
{{/if}}
