<span class="trigger-popover" {{bind-attr data-content=popoverContent}} {{bind-attr title=content.fullName}} data-toggle="popover" data-placement="right" data-trigger="hover">
  {{#link-to 'employee' content}}{{content.fullName}}{{/link-to}}
</span>

<div class="data-section text-right">
  {{#if content.company}}
    <span class="mute">{{content.company.name}}</span>
  {{/if}}
</div>
