<hgroup class="resource-header">
  <h2>Metrics</h2>
</hgroup>

<ul class="nav nav-tabs company-tabs" role="tablist">
  {{#each tab in tabs}}
    <li class="{{if tab.active 'active'}}">
      {{#link-to tab.link role="tab" data-toggle="tab"}}
        {{#if tab.icon}}<i class="fa fa-fw {{tab.icon}}"></i>{{/if}} {{tab.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
